.text-p{
    font-size: 25px;
    font-weight: 600;
    position: relative;
    bottom: 520px;
    right: 180px;
}
.kotak-p{
    border: 1px;
    height: 60vh;
    width: 120vh;
    border-style: solid;
    position: relative;
    bottom: 100px;
    border-radius: 20px;
}
.profil-k{
    position: relative;
    bottom: 30px;
    left: 350px;
    width: 100px;
    height: 100px;
}
.nama-u{
    font-weight: 700;
    font-size: 24px;
    position: relative;
    left: 210px;
}
.pensil{
    position: relative;
    left: 10px;
    width: 23px;
    height: 23px;
}
.email-u{
    font-weight: 700;
    font-size: 24px;
    position: relative;
    top: 40px;
    right: 40px;
}
.pass-u{
    font-weight: 700;
    font-size: 24px;
    position: relative;
    top: 50px;
    left: 290px;
}
.save{
    height: 40px;
    width: 90px;
    border: none;
    background-color: #FCC762;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    position: relative;
    top: 150px;
    left: 250px;
    cursor: pointer;
}
.logout{
    height: 40px;
    width: 90px;
    border: none;
    background-color: #FCC762;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    position: relative;
    top: 150px;
    left: 400px;
}
.title{
    font-size: 20px;
    font-weight: 500;
    position: relative;
    bottom: 110px;
    right: 130px;
}
.rank{
    border: none;
    border-radius: 15px;
    background-color: #FCC762;
    height: 30px;
    width: 100px;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    bottom: 80px;
    right: 170px;
}
.posisikotak{
    position: absolute;
    bottom: 10px;
}