.text-ar2{
    font-size: 18px;
    font-weight: 600;
    color: #2A263A;
    position: relative;
    top: 30px;
    right: 80px;
}
.text-ar3 {
    font-size: 18px;
    font-weight: 600;
    color: #2A263A;
    position: relative;
    top: 10px;
    left: 20px;
}